# Welcome to Jekyll!
#
# This config file is meant for settings that affect your whole blog, values
# which you are expected to set up once and rarely edit after that. If you find
# yourself editing this file very often, consider using Jekyll's data files
# feature for the data you need to update frequently.
#
# For technical reasons, this file is *NOT* reloaded automatically when you use
# 'bundle exec jekyll serve'. If you change this file, please restart the server process.
#
# If you need help with YAML syntax, here are some quick references for you:
# https://learn-the-web.algonquindesign.ca/topics/markdown-yaml-cheat-sheet/#yaml
# https://learnxinyminutes.com/docs/yaml/
#
# Site settings
# These are used to personalize your new site. If you look in the HTML files,
# you will see them accessed via {{ site.title }}, {{ site.email }}, and so on.
# You can create any custom variable you would like, and they will be accessible
# in the templates via {{ site.myvariable }}.

title: "Markets, Inc."
description: "Markets, Inc. is an activist liquid fund operating in crypto markets."
#baseurl: "/light" # the subpath of your site, e.g. /blog
url: "https://markets.inc"
#twitter_username: jekyllrb
#github_username:  jekyll
date_format: "%b %-d, %Y"

pagination:
  enabled: true
  collection: insight

# Build settings
markdown: kramdown
redcarpet:
  extensions: ['smart', 'tables', 'with_toc_data']
permalink:    pretty
#paginate:     5
#paginate_path: "/insights/:num/"
plugins:
  - jekyll-paginate
  - jekyll-sitemap
  # https://github.com/jekyll/jekyll/issues/2938

exclude:
  - Gemfile
  - Gemfile.lock
  - Rakefile
  - README.md
  - screenshot.png
  - vendor