body {
    line-height: 1.6;
    font-size: 18px;
    font-family: "Times New Roman";
}

.w500max {
      max-width: 450px;
}

h1.title {
    font-size: 28px;
    font-weight: bold;
    line-height: 1.6;
    margin-bottom: 14px;
}

h2.title {
    font-weight: bold;
}

.center {
    text-align: center;
}

.icon {
    width: 1em;
    height: 1em;
    vertical-align: -0.125em;
}

.underline {
    text-decoration: underline;
}

.link:link { color: #0000EE; }
.link:visited { color: #551A8B; }
.link:link:active, .link:visited:active { color: #FF0000; }
