<nav class="flex" aria-label="Breadcrumb" itemscope itemtype="https://schema.org/BreadcrumbList">
    <ol class="inline-flex items-center space-x-1 md:space-x-2 rtl:space-x-reverse">
        {% assign crumbs = page.url | remove:'/index.html' | split: '/' %}
        <li class="inline-flex items-center" itemprop="itemListElement" itemscope itemtype="https://schema.org/ListItem">
            <meta itemprop="position" content="1">
            <a href="/" class="inline-flex items-center text-sm font-medium text-body hover:text-fg-brand" itemprop="item">
                <span itemprop="name">{{ site.title }}</span>
            </a>
        </li>
        {% for crumb in crumbs offset: 1 %}
        {% if forloop.last == false %}
        <li itemprop="itemListElement" itemscope itemtype="https://schema.org/ListItem">
            <meta itemprop="position" content="{{ forloop.index | plus: 1 }}">
            <div class="flex items-center space-x-1.5">
                <svg class="w-3.5 h-3.5 rtl:rotate-180 text-body" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24"><path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m9 5 7 7-7 7"/></svg>
                <a href="{% assign crumb_limit = forloop.index | plus: 1 %}{% for crumb in crumbs limit: crumb_limit %}{{ crumb | append: '/' | replace:'without-plugin/','without-plugins/' }}{% endfor %}" class="inline-flex items-center text-sm font-medium text-body hover:text-fg-brand" itemprop="item">
                    <span itemprop="name">{{ crumb | replace:'-',' ' | remove:'.html' | capitalize }}</span>
                </a>
            </div>
        </li>
        {% else %}
        <li itemprop="itemListElement" itemscope itemtype="https://schema.org/ListItem" class="sr-only">
            <meta itemprop="position" content="{{ forloop.index | plus: 1 }}">
            <span itemprop="name" aria-current="page">{{ page.title }}</span>
        </li>
        {% endif %}
        {% endfor %}
    </ol>
</nav>
