<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="styles.css">

    <title>Markets, Inc.</title>

    <link rel="apple-touch-icon" sizes="180x180" href="/images/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/images/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/images/favicon/favicon-16x16.png">
    <link rel="manifest" href="/images/favicon/site.webmanifest">

    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="/images/favicon/android-chrome-192x192.png">
    <meta name="theme-color" content="#ffffff">

    <meta name="description" content="Markets, Inc. is an activist liquid fund operating in crypto markets.">

    <meta name="twitter:card" content="summary" />
    <meta name="twitter:site" content="@marketsincorp" />
    <meta name="twitter:title" content="Markets, Inc." />
    <meta name="twitter:url" content="https://markets.inc/" />
    <meta name="twitter:image" content="https://markets.inc/apple-touch-icon.png" />
    <meta name="twitter:description" content="Markets, Inc. is an activist liquid fund operating in crypto markets.">

    <meta property="og:site_name" content="Markets, Inc." />
    <meta property="og:title" content="Markets, Inc." />
    <meta property="og:url" content="https://markets.inc/" />
    <meta property="og:image" content="https://markets.inc/apple-touch-icon.png" />
    <meta property="og:description" content="Markets, Inc. is an activist liquid fund operating in crypto markets.">

</head>