@import "tailwindcss";

@layer base {
    body {
        line-height: 1.6;
        font-size: 18px;
        font-family: "Times New Roman";
    }

    hr {
        border-color: #e5e7eb;
    }

    .footer-notice {
        font-size: 10px;
        color: gray;
        padding-bottom: 5px;
    }

    h1.title {
        font-size: 28px;
        font-weight: bold;
        line-height: 1.6;
    }

    h2.title {
        font-weight: bold;
    }

    .icon {
        width: 1.05em;
        height: 1.05em;
        vertical-align: -0.125em;
    }

    .link { cursor: pointer; }
    .link:link { color: #0000EE; }
    .link:visited { color: #551A8B; cursor: pointer; }
    .link:link:active, .link:visited:active { color: #FF0000; }

    .post > p {
        margin-bottom: 0.75rem;
    }

    .post blockquote {
        padding: 1rem;
        margin-top: 1rem;
        margin-bottom: 1rem;
        border-inline-start-width: 4px;
        border-color: #e5e7eb;
    }

    .post blockquote p {
        font-style: italic;
        line-height: 1.625;
    }

    .bold-marker > li::marker {
        font-weight: bold;
    }
}
