---
layout: default
---
<article class="max-w-xl">
    <header class="article-header mb-3">

        {% include breadcrumbs.html %}

        <h1 class="title">{{ page.title }}</h1>

        <p>
            <small>
                {{ page.date | date: site.date_format }}<span class="px-2">&#8226;</span>By {% for author in page.authors %}{{ author.name }}{% unless forloop.last %}, {% endunless %}{% endfor %}
            </small>
        </p>

        {% if page.image and page.hide_image == null %}
        <p>
            <img src="{{ page.image }}" alt="{{ page.title }}">
        </p>
        {% endif %}

    </header>

    <section class="post">
        {{ content }}
    </section>

    {% include footer.html %}

</article>
