@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    line-height: 1.6;
    font-size: 18px;
    font-family: "Times New Roman";
}

.footer-notice {
    font-size: 10;
    color: gray;
    padding-bottom: 5px;
}

h1.title {
    font-size: 28px;
    font-weight: bold;
    line-height: 1.6;
}

h2.title {
    font-weight: bold;
}

.icon {
    width: 1.05em;
    height: 1.05em;
    vertical-align: -0.125em;
}

.link:link { color: #0000EE; }
.link:visited { color: #551A8B; }
.link:link:active, .link:visited:active { color: #FF0000; }

.post > p {
    margin-bottom: 0.75rem;
}

.bold-marker > li::marker {
    font-weight: bold;
}
